fastapi[standard]
uvicorn
pydantic
python-multipart
PyJWT
passlib[bcrypt]
bcrypt
sqlmodel
alembic
pydantic-settings
python-dotenv
psycopg
asgi-correlation-id
python-json-logger
logtail-python
sentry-sdk[fastapi]
mjml-python
fastapi-mail
jinja2