fastapi[standard]
uvicorn
pydantic
python-multipart
PyJWT
passlib[bcrypt]
bcrypt
sqlmodel
alembic
pydantic-settings
Jinja2
python-dotenv
psycopg
asgi-correlation-id
python-json-logger
logtail-python
sentry-sdk[fastapi]