fastapi[standard]
uvicorn
pydantic
python-multipart
PyJWT
passlib[bcrypt]>=1.7.4
bcrypt>=4.1.0
sqlmodel
alembic
pydantic-settings
python-dotenv
psycopg
asgi-correlation-id
python-json-logger
logtail-python
sentry-sdk[fastapi]
mjml-python
fastapi-mail
jinja2
databases[asyncpg]